{% extends "base.html" %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-6">

        <h1>O que levar</h1>
        <p>Feito para mochileiros que querem viajar de forma mais leve e inteligente</p>



        <hr><!-- _________________________________________________ -->



        <form method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                <ul id="{{ field.auto_id }}">
                    {% for radio in field %}
                    <li>
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                    </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            <button type="submit">Fazer a minha mala</button>
        </form>

    </div>
</div>

{% endblock %}