{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
  <title>O que levar – Sua mochila</title>
{% endblock %}

{% block content %}
{% load bootstrap4 %}


<div class="row">
    <div class="col-6">
        <h1>O que levar</h1>
    </div>
    <div class="col-6 backpack-summary">
                <p>{{context.backpack.place}}</p>
                <p>{{context.backpack.temp}}°C  •  {{context.backpack.days}} days  •  {{context.backpack.sex}} sex</p>
    </div>
</div>



<hr><!-- _________________________________________________ -->

<!-- BackpackItem block START -->
{% if context.backpack.product %}

<div class="row">
    <div class="col-12">
        <p><a href="{% url 'backpack-new' %}">← Voltar</a></p>
        <h4>{{ context.backpack.product.category }}</h4>
    </div>
</div>


<div class="row">
    <div class="col-lg-2 col-md-3 col-6">
        <img src="{{ context.backpack.product.image.url }}" alt="{{ context.backpack.product.name }}">
    </div>
    <div class="col">
        <h5>
            <a href="{% url 'product-detail' context.backpack.uuid context.backpack.product.pk %}">
                {{ context.backpack.product.name }}
            </a>
        </h5>
        {{ context.backpack.product.description|linebreaks }}
    </div>
</div>

{% endif %}
<!-- BackpackItem block END -->


<hr><!-- _________________________________________________ -->


<!-- Category block START -->
{% for category in context.categories %}
<div class="row">
    <div class="col-12">
        <h4>{{ category.name }}</h4>
    </div>
</div>

<div class="row">
    {% for item in context.items %}
    {% if item.product.category == category %}

    <!-- Item block START -->
    <div class="col-lg-2 col-md-3 col-6 item-wrapper">
        <a class="item-card" href="{% url 'product-detail' context.backpack.uuid item.product.pk %}">
            <div class="item-thumbnail" style="background-image: url('{{ item.product.image.url }}')">
            </div>
            <div class="item-body">
                <h5>{{ item.product.name }}</h5>
                {% if item.qtd > 1 %}
                <p><small>x</small>{{ item.qtd }}</p>
                {% endif %}
            </div>
        </a>
    </div>

    <!-- Item block END-->
    {% endif %}
    {% endfor %}
</div>



<hr><!-- _________________________________________________ -->



{% endfor %}
<!-- Category block END -->



{% endblock %}