{% extends "base.html" %}

{% block title %}
  <title>O que levar – Sua mochila</title>
{% endblock %}

{% block content %}



<div class="row">
    <div class="col-12">
    <a href="{% url 'backpack-new' %}">← Voltar</a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>O que levar</h1>
    </div>
    <div class="col-4">
        <ul>
            <li>Temperatura: {{ context.backpack.temp }}</li>
            <li>Dias: {{ context.backpack.days }}</li>
            <li>Sexo: {{ context.backpack.sex }}</li>
        </ul>
    </div>
</div>



<hr><!-- _________________________________________________ -->



<div class="row">
    <div class="col-12">
        <h2>Sua mochila</h2>
    </div>
</div>

{% if context.backpack.product %}
<div class="row">
    <div class="col-2">
        <img src="{{ context.backpack.product.image.url }}" alt="{{ context.backpack.product.name }}">
    </div>
    <div class="col-10">
        <h3>
            <a href="{% url 'product-detail' context.backpack.pk context.backpack.product.pk %}">
                {{ context.backpack.product.name }}
            </a>
        </h3>
        <p>{{ context.backpack.product.description }}</p>
    </div>
</div>
{% endif %}



<hr><!-- _________________________________________________ -->


<!-- Category block START -->
{% for category in context.categories %}
<div class="row">
    <div class="col-12">
        <h4>{{ category.name }}</h4>
    </div>
</div>



<div class="row">
    {% for item in context.items %}
    {% if item.product.category == category %}
    <div class="col-2">
        

        <!-- Product block START -->
        <div>
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        </div>
        <h5>
            <a href="{% url 'product-detail' context.backpack.pk item.product.pk %}">
                {{ item.product.name }}
            </a>
        </h5>
        <p>x{{ item.qtd }}</p>
        <!-- Product block END-->



    </div>
    {% endif %}
    {% endfor %}
</div>



<hr><!-- _________________________________________________ -->



{% endfor %}
<!-- Category block END -->



{% endblock %}