{% extends "base.html" %}

{% block title %}
  <title>O que levar – Sua mochila</title>
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-6 jumbotron">

        <a href="{% url 'backpack-new' %}">← Voltar</a>
        <h2 class="display-3">O que levar</h2>

        <hr>

        <ul>
            <li>Temperatura: {{ context.backpack.temp }}</li>
            <li>Dias: {{ context.backpack.days }}</li>
            <li>Sexo: {{ context.backpack.sex }}</li>
        </ul>

    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <h2>Sua mochila</h2>
        <ul>
            {% for item in context.items %}
                <li><a href="{% url 'product-detail' context.backpack.pk item.product.pk %}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>









{% endblock %}