{% extends "base.html" %}
{% load bootstrap4 %}

{% block extrahead %}
{{ form.media }}

<script>
    var onLoaded = function() {
        // I am assuming your field has id of where_load, it might be different
        var location_input = document.getElementById('id_place');
        var autocomplete = new google.maps.places.Autocomplete(location_input);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl3ku9gJx-1uGJ7Jsmw8Qr7lWoBDVeVUM&libraries=places&callback=onLoaded" async defer></script>

{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">

        <h1>O que levar</h1>
        <p>Feito para mochileiros que querem viajar de forma mais leve e inteligente</p>



        <hr><!-- _________________________________________________ -->

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-lg btn-block my-5">Fazer a minha mala</button>
        </form>

    </div>
</div>

{% endblock %}