{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href='{% static "app/css/styles.css" %}'>

  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  
  {% block extrahead %}
  {% endblock %}

  {% block title %}
  <title>O que levar</title>
  {% endblock %}

</head>
<body>
<div class="container">

  {% block content %}
  <!-- Main content here!-->
  {% endblock %}

</div>
</body>
</html>