{% extends "base.html" %}

{% block title %}
<title>O que levar – Sua mochila - Produto</title>
{% endblock %}

{% block content %}



<div class="row">
    <div class="col-12">
        <a href="{% url 'backpack-detail' context.backpack.pk %}">
            ← Voltar
        </a>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <p>{{ context.product.category }}</p>
        <h1>{{ context.product.name }}</h1>
    </div>
</div>



<div class="row">
    <div class="col-4">
        <img src="{{context.product.image.url}}">
    </div>
    <div class="col-8">
        <p>{{ context.product.description }}</p>
    </div>
</div>



{% endblock %}